* {
  font-family: Helvetica, sans-serif;
}

.menu {
  margin-left: 10px;
}

.menu > a {
  text-decoration: none;
  color: black;
}

.menu > a:hover {
  background-color: yellow;
}

.homepage {
  /* text-align: center; */
  /* justify-content: center; */
  margin: 15px;
}

h7 {
  font-size: 50px;
}

.project-titles {
  display: flex;
  flex-direction: column;
  margin-top: 120px;
  text-align: left;
  justify-content: space-around;
  position: absolute;
  left: 50px;
  width: 600px;
  height: 120px;
}

.project-titles > a {
  text-align: left;
  text-decoration: none;
  color: black;
  padding: 8px;
  letter-spacing: 2px;
}

.project-titles > a > span:hover {
  background-color: yellow;
}
.contact-page {
  display: flex;
  flex-direction: column;
  margin: 15px;
}

.contact-info {
  margin-top: 66px;
}

.contact-info > a {
  text-decoration: none;
}

.contact-info > a > span {
  /* margin-left: 50px; */
  margin: 50px;
  color: black;
  letter-spacing: 2px;
}

.contact-info > a > span:hover {
  background-color: yellow;
}

.series {
  background-color: lightblue;
  height: 450px;
  width: 100%;
  margin: 15px;
}
