* {
  font-family: Helvetica, sans-serif;
}

.menu {
  margin-left: 10px;
}

.menu > a {
  text-decoration: none;
  color: black;
  margin-right: 10px;
  letter-spacing: 1px;
}

.menu > a:hover {
  font-style: italic;
}

.homepage {
  /* text-align: center; */
  /* justify-content: center; */
  margin: 15px;
}

h7 {
  font-size: 50px;
}

.project-titles {
  display: flex;
  flex-direction: column;
  margin-top: 120px;
  text-align: left;
  justify-content: space-around;
  position: absolute;
  left: 50px;
  width: 600px;
  height: 120px;
}

.project-titles > a {
  text-align: left;
  text-decoration: none;
  color: black;
  padding: 8px;
  letter-spacing: 2px;
}

.project-titles > a > span:hover {
  font-style: italic;
}
.contact-page {
  display: flex;
  flex-direction: column;
  margin: 15px;
}

.contact-info {
  margin-top: 66px;
}

.contact-info > a {
  text-decoration: none;
}

.contact-info > a > span {
  /* margin-left: 50px; */
  margin: 50px;
  color: black;
  letter-spacing: 2px;
}

.contact-info > a > span:hover {
  background-color: yellow;
}

.series1 {
  /* height: 450px; */
  width: 100%;
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.row1 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 30px;
}
.row2 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

img {
  box-shadow: 1px 1px 2px 1px grey;
}

.row1 > img:hover {
  transform: scale(2.5);
  position: absolute;
  /* left: 50%; */
  /* margin-left: -50%; */
  /* top: 50%; */
  /* margin-top: -50%; */
  left: 380px;
  right: 0;
  /* top: 20%; */
  margin-top: 100px;
  margin-left: 100px;
}
